In [14]:
import numpy as np
import pandas as pd
from scipy.stats import spearmanr
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt


FR_df = pd.read_csv('FR_svr_submission.csv')
DE_df = pd.read_csv('DE_svr_submission.csv')
# Merge FR_df and DE_df into one dataframe
merged_df = pd.concat([FR_df, DE_df], ignore_index=True)

merged_df.to_csv('svr_merged_submission.csv', index=False)
merged_df.describe()

                ID      TARGET
count   654.000000  654.000000
mean   1075.192661   -0.004025
std     625.699109    1.331364
min       1.000000  -33.538191
25%     528.500000   -0.040354
50%    1060.500000    0.047466
75%    1631.500000    0.157580
max    2147.000000    1.205434

In [13]:
import numpy as np
import pandas as pd
from scipy.stats import spearmanr
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt


FR_df = pd.read_csv('FR_nonexo_svr_submission.csv')
DE_df = pd.read_csv('DE_svr_submission.csv')
Exo_df = pd.read_csv('exo_svr_submission.csv')
# Merge FR_df and DE_df into one dataframe
merged_df = pd.concat([FR_df, DE_df, Exo_df], ignore_index=True)



merged_df.to_csv('svr_exomerged_submission.csv', index=False)
merged_df.describe()

                ID      TARGET
count   654.000000  654.000000
mean   1075.192661   -0.003458
std     625.699109    1.330054
min       1.000000  -33.538191
25%     528.500000   -0.017528
50%    1060.500000    0.013950
75%    1631.500000    0.156448
max    2147.000000    1.205434